@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}
.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}
.title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 25px;
}


.space {
    border: 1px solid black;
    width: 8em;
    height: 8em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fila {
    display: flex;
    flex-direction: column;

}

.gameBoard {
    display: flex;
    border: 2px solid black;


}

.space:hover{
    background-color: rgb(209, 199, 199);
}

.red{
    color: red;
}


.button-area {
    margin: 25px;
    margin-top: 0;
    margin-left: 0;
}

.name-input{
    padding: 6px;
}

.separate-names {
    padding-bottom: 12px;
}