* {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.title {
    font-size: 1rem;
}


.square {
    border: 1px solid black;
    width: 8em;
    height: 8em;
    text-align: center;
    align-self: center;

}

.row {
    display: flex;
    flex-direction: column;

}
.gameBoard {
    display: flex;
    border: 2px solid black;


}

.square:hover{
    background-color: rgb(209, 199, 199);
}

.red{
    color: red;
}

.isClicked{
    background-color: red;
}